/* CAD NUMBER LOADER */

/* HTML: <div class="loader"></div> */
.land__area-loader > .loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.land__area-loader > .loader::before,
.land__area-loader > .loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.land__area-loader > .loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

/* HTML: <div class="loader"></div> */
.map__loader > .loader {
  z-index: 699;
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.map__loader > .loader::before,
.map__loader > .loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.map__loader > .loader::before {
  border-color: #1a9d79 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.map__loader > .loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}

/* DROPDOWN */

