/* GLOBAL */

/* :root {
  --site-bg--color: #181f27;
  --text-color: #fff;
  --black-color: #000;
  --white-bg: #fff;
  --marketplace-content-bg: #1e1e1e;
} */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* font-family: "Frank Ruhl Libre", serif; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: unset;
  background: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

input {
  background-color: #f6f6f6;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

/* MAIN CONTENT */

.main__content {
  flex-grow: 1;
}

/* HEADER */

.header {
  margin-bottom: 10px;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
}

.site__logo-link {
  display: block;
}

.site__logo-img {
  width: 200px;
  height: 31px;
  display: block;
}

/* MAIN CONTENT */

.main__inner {
  height: 100%;
}

/* MAP SECTION */

.map__section {
  height: 100%;
  display: flex;
  align-items: center;
}

/* LAND CONTAINER */

.land__container {
  width: 20vw;
  height: 100%;
  /* border: 1px solid #181f27; */
  background-color: #f7fbf9;
  overflow: hidden;
  
}

.land__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.land__top {
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #ebebeb;
  text-align: left;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #c0c5cc;
  box-shadow: -1px 0 0 0 #c0c5cc;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}

.land__title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #333232;
}

.land__toggler {
}

.land__content {
  height: calc(100% - 50px);
  /* padding: 5px 10px; */
  position: relative;
}

.land__form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  height: 90px;
}

.land__cad-num {
  background-color: #f6f6f6;
}

.land__cad-search {
  background-color: #1c9e79;
}

.land__areas-box {
  position: relative;
  max-height: 650px;
  padding-top: 10px;
  border-top: 1px solid #dee2e6;
  padding: 10px 10px;
  overflow-y: scroll;
}

.land__area-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(222, 226, 230, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 600;
}

.land__areas-invalid--msg {
  font-size: 18px;
  display: none;
}

.land__areas-list {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 5px;
}

/* SCROLLBAR */

.land__areas-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.land__areas-list::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.land__areas-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    top,
    #e4f5fc 0%,
    #bff9e1 50%,
    #9fefd3 51%,
    #0b932d 100%
  );
}

.land__areas-item {
  line-height: 1.4;
  /* letter-spacing: 2px; */
}
.land__areas-item:not(:last-child) {
  margin-bottom: 8px;
}

.land__areas-btn {
  background-color: #1a9d79;
  color: #eee;
  line-height: 1.4;
  letter-spacing: 1px;
}

.land__areas-btn:hover {
  color: #eee;
}

.land__contour-list {
  max-width: 100%;
  overflow-y: scroll;
}

.land__contour-item {
  display: flex;
  padding: 4px 2px;
  border-bottom: 1px solid #dee2e6;
}

.land__contour-item:hover {
  /* background-color: #fff8e1; */
  background-color: #d9f1e3;
  cursor: pointer;
}
.land__contour-item.active {
  /* background-color: #fff8e1; */
  background-color: #d9f1e3;
  cursor: pointer;
}

.land__contour-item:not(:last-child) {
  margin-bottom: 5px;
}

.land__contour-item:last-child {
  border-bottom: none;
}

.land__contour-img--wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.land__contour-img {
  width: 30px;
  height: 30px;
}

.land__contour-info {
  display: flex;
  flex-direction: column;
}
.land__contour-num {
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  margin-bottom: 1px;
  color: #212529;
}
.land__contour-area {
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25rem;
  font-style: italic;
  color: #909499;
}

/* .MAP CONTAINER */

.map__container {
  width: 80vw;
  height: 100%;
  overflow: hidden;
  /* border: 1px solid #181f27; */
}

.map__box {
  position: relative;
  width: 100%;
  height: 100%;
}

.map__loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(222, 226, 230, 0.9);
  z-index: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#map {
  width: 100%;
  height: 100%;
}

/* VEGETATION */

.map__vegetation-container {
  position: absolute;
  top: 0;
  /* right: -320px; */
  right: -25vw;
  /* right: 0; */
  width: 20vw;
  height: 100%;
  outline: 0;
  overflow: hidden;
  overflow-y: auto;
  min-height: auto;
  background-color: #fff;
  z-index: 500;
  transition: right ease 0.5s;
}

.map__vegetation-container.show {
  right: 0;
}

.map__vegetation-toggler {
  position: absolute;
  top: 30px;
  /* bottom: 700px; */
  /* left: 0; */
  right: 20vw;
  width: 40px;
  height: 40px;
  background-color: #1c9e79;
  z-index: 999;
  /* display: none; */
  /* transition: right ease 0.5s; */
}

.map__vegetation-toggler.open {
  
}

.toggle-open {
  display: none;
}

.toggle-close {
}

.map__vegetation-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.map__vegetation-top {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  text-align: left;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #c0c5cc;
  box-shadow: -1px 0 0 0 #c0c5cc;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.map__vegetation-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #333232;
}

.map__vegetation-select-box {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dedede;
}

.map__vegetation-select  option {
  background: unset !important;
}

.map__vegetation-date--list {
  /* min-height: 450px; */
  overflow-y: scroll;
  flex-grow: 1;
}

/* SCROLLBAR */

.map__vegetation-date--list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.map__vegetation-date--list::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.map__vegetation-date--list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    top,
    #e4f5fc 0%,
    #bff9e1 50%,
    #9fefd3 51%,
    #0b932d 100%
  );
}

.map__vegetation-date--item {
  height: 50px;
  border-bottom: solid 1px #d7d9db;
  display: table;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #757575;
  padding: 0 5px 0 20px;
  box-sizing: border-box;
}

.map__vegetation-date--item.active {
  background-color: #d9f1e3;
  border-left: 2px solid #099268;
}

.map__vegetation-date--item:hover {
  background-color: #d9f1e3;
}

.map__vegetation-date--text {
  color: #757575;
  padding: 0 5px 0 20px;
}

.map__vegetation-info {
  border-top: 1px solid #d7d9db;
  /* min-height: 240px; */
  padding: 5px;
  width: 100%;
  margin-top: auto;
}
.map__vegetation-info--list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9f1e3;
  border-radius: 5px;
  padding: 5px;
}
.map__vegetation-info--item {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.map__vegetation-info--item:not(:last-child) {
  margin-bottom: 4px;
}

.map__vegetation-info--color {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0b932d;
  margin-right: 8px;
}
.map__vegetation-info--text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}
.map__vegetation-info--area {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

@media only screen and (max-width: 1575px) {
  .land__areas-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .map__vegetation-info--text {
    font-size: 14px;
  } 
  .map__vegetation-info--area { 
    font-size: 14px;
  }

}

@media only screen and (max-width: 1210px) {

  .map__vegetation-info--text {
    font-size: 12px;
  } 
  .map__vegetation-info--area { 
    font-size: 12px;
  }

}