<div class="map__vegetation-container">
    <div class="map__vegetation-inner">
      <div class="map__vegetation-top">
        <h3 class="map__vegetation-title">Vegetatsiya indeksi</h3>
      </div>
      <div class="map__vegetation-index--box">
        <div class="w-100">
          <!-- <label for="" class="form-label"></label> -->
          <select
            class="form-select index-select map__vegetation-select"
            name=""
            id=""
          >
            <option value="">NDVI</option>
            <option value="">NDMI</option>
          </select>
        </div>
      </div>
      <ul class="map__vegetation-date--list">
        <li class="map__vegetation-date--item">15 noyabr 2023</li>
      </ul>
    </div>
  </div>